.profile_image_wrapper{
    height: 400px;
    width: 280px;
}

.profile_image_wrapper img{
    height: 100%;
    transform: rotate(3deg);
}

.profile_text{
    width: 450px;
    height: 230px;
    background: #226CE5;
    color: #C7C7C7;
    padding: 2em;
}

.profile_text p{
    padding: 1em;
}

.profile_flex{
    padding: 1em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}