/* ================================
font:     proxima nova 0r lato

font-family: 'Montserrat', sans-serif;
font-family: 'Fugaz One', cursive;
font-family: 'Lobster', cursive;

color [body] = #262A30
body font color = #C7C7C7
color [button - blue] = #226CE5
color [button - coral] = #F86F6F
color [square background] = #101519
box-shadow - color = rgba (0,0,0 0.62)
================================== */

/* :::::::::::general styles:::::::::::::: */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #C7C7C7;
    background-color: #262A30;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden !important;
}


.container {
    width: 70%;
    margin: 0 auto;
    padding: 0 10px;
}

p {
    font-size: .9em;
    font-weight: 300;
    line-height: 1.6em !important;
    letter-spacing: .05 !important;
    word-spacing: .2em !important;
}

h2 {
    font-size: 7em;
    letter-spacing: .1em;
    color: #9393931c;
    text-align: center;
}

.project_btn {
    color: #C7C7C7;
    background: #226CE5;
}




/* :::::::::::::::::individual styles:::::::::::::::: */

#head {
    height: 80px;
    width: 100vw;
}

.navigation {
    height: 80px;
    width: 100vw;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.4);
}

.main_nav_div {
    padding: .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_div img {
    height: auto;
    width: 50px;
    padding: 3px;
}

.about_P {
    color: #226CE5;
    padding: 5px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.about_p:hover,
.about_P:focus {
    color: #236de2;
}

.hero_wrapper {
    width: 70%;
    height: auto;
    margin: 6em auto;
    background: #101519;
    text-align: center;
}

.p_wrapper {
    padding: 2em;
    margin-top: 2em;
}

.welcome_text {
    margin-top: 2em;
}

.name {
    font-weight: 600;
}

button {
    width: 12em;
    background: #226CE5;
    border: none;
    padding: .1em;
    margin: 1em 2em 4em 2em;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.308);
    transition: all 0.3s ease-in-out;
}

button:hover {
    box-shadow: none;
    color: #ffffff;
    background: rgb(12, 74, 173);
}

button a {
    text-decoration: none;
    color: #C7C7C7;
}




.contact_p {
    padding: 2px;
    margin-top: 1.3em;
    font-size: 1em;
    letter-spacing: .1em;
}

.img_div img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img_div {
    width: 340px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}

.grid_wrapper {
    width: 340px;
    margin: 5em auto 0 auto;
    background: #101519;
}

.project_header_wrapper {
    padding-top: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.right {
    text-align: right !important;
    padding: .1em 1em 2em 1em;
    border-right: 5px solid #F86F6F;
    margin: .5em 0;
    color: #ffffff;
}

.left {
    text-align: left !important;
    padding: .1em 1em 2em 1em;
    border-left: 5px solid #226CE5;
    margin: .5em 0;
}

.project_des {
    font-weight: 300;
    font-size: .8em;
    margin: 5px 0;
}

.project_btn {
    color: #C7C7C7;
    padding: 8px 12px;
    margin-top: 10px;
    text-decoration: none;
    font-size: .7em;
    font-weight: 300;

}

.btn_left {
    background: #226CE5;
    transition: all .3s ease-in-out;
}

.btn_left:hover {
    color: #ffffff;
    background: rgb(12, 74, 173);
}

.btn_right {
    background: #F86F6F !important;
    color: #ffffff !important;
    transition: all .3s ease-in-out;
}

.btn_right:hover {
    color: #C7C7C7;
    background: rgb(230, 95, 95);
}

.btn_wrapper {
    margin-top: 1em;
}

.contact_header {
    margin-top: 1em;
    margin-bottom: 1em;
}

.contact_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    padding: 1em;
}

.social_media_wrapper {

    width: 340px;
    height: 180px;
    background: #226CE5;
    padding: 1.5em;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
}

.social_p_wrapper {
    padding: .2em;
    margin-bottom: .8em;
}

.icons_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2em;
}

.icons_wrapper img {
    width: 25px;
    height: auto;
}

.contact_icons img {

    transition: all .3s ease-in-out;
}

.arrow {
    width: 40px !important;
    height: 40px !important;
}

.mail {
    width: 40px !important;
    height: 40px !important;
}

.contact_icons a:hover .icon {
    transform: scale(1.1);
}

.mail_wrapper {
    width: 340px;
    height: 180px;
    background: #F86F6F;
    padding: 1.5em;
    color: #ffffff;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.mail_wrapper:hover {
    box-shadow: none;
    background: rgb(230, 95, 95);
}

.mail_wrapper:hover .arrow {
    transform: translateX(60px);
}



.contact_icons {
    width: 200px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.mail_wrapper a {
    text-decoration: none;
    color: #fff;
    font-size: .9em;
    font-weight: 30;
}

.footer {
    margin-top: 3em;
    padding: 2em;
    text-align: center;
    background: #101519;
}

.footer_p {
    color: rgba(167, 167, 167, 0.335);
}

.footer_name {
    text-transform: capitalize;
    color: rgba(167, 167, 167, 0.465);
    font-weight: 700;
}


/* ::::::::::ABOUT SECTION:::::::::::::: */

.profile_image_wrapper {
    height: 400px;
    width: 280px;
    padding: .5em;
    margin-top: 3em;
}

.profile_image_wrapper img {
    height: 100%;
    width: 265px;
    text-align: center;
}

.profile_text {
    width: 400px;
    height: auto;
    background: #226CE5;
    color: #C7C7C7;
    padding: 2em;
    margin-top: 3em;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
}

.profile_text p {
    padding: 1em;
}

.profile_flex {
    padding: 1em;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto
}

/* :::::::::::::::::::about section details::::::::::::::: */

.personal_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: auto;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}

.about_me_wrapper{
    background: #101519;
    height: 60px;
    width: 180px;
    padding: .8em;
}

.about_me{
    padding: .5em .5em .5em 1em;
    background: #262A30;
    box-shadow: -10px 0px 3px 0px rgba(0, 0, 0, 0.9);
    text-align: right;
}

.text2_wrapper{
    background: #101519;
    width: 500px;
    height: auto;
    padding: 2em;
    margin-top: 2em;

}



/* :::::::::::::::::MEDIA QUERIES::::::::::::::: */

@media (max-width:1000px) {
    .contact_wrapper {
        justify-content: center
    }

    .mail_wrapper {
        margin-top: 4em !important;
    }

    .profile_text {
        padding: .5px;
    }

    .profile_text p {
        padding: 2em;
    }

}


@media (max-width:800px) {
    .hero_wrapper {
        width: 90%;
        margin: 3em auto;
    }

    .container {
        width: 90%;
    }

    h2 {
        font-size: 5em;
        font-weight: 900;
        text-align: center;
    }

    .grid {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .img_div {
        width: 450px;
        text-align: center;
    }

    .grid_wrapper {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact_wrapper {
        justify-content: center
    }

    .mail_wrapper {
        margin-top: 4em !important;
    }

    .profile_flex {
        justify-content: center;
        flex-wrap: wrap;
    }
    .personal_flex{
justify-content: center;
flex-wrap: wrap;
    }
.text2_wrapper{
    margin-top: 1.5em;

}


}

@media (max-width:600px) {
    .container {
        width: 95%;
    }

    .img_div {
        width: 350px;
    }

    h2 {
        font-size: 4em;
    }

    .grid_wrapper {
        width: 350px;
    }

    .contact_wrapper {
        justify-content: space-evenly;
    }
    .profile_text {
        width: 100%;
    }


}

@media (max-width:450px) {
    .img_div {
        width: 300px;
    }

    h2 {
        font-size: 3em;
    }

    .grid_wrapper {
        width: 300px;
    }

    .mail_wrapper {
        width: 300px;
    }

    .social_media_wrapper {
        width: 300px;
    }

    .contact_wrapper {
        justify-content: space-evenly;
    }

}

/* ::::::::::::::::animations::::::::: */
.ani{
    animation-duration: 1.5s;
    animation-timing-function: ease-in;

}
.ani_d{
    animation-delay: 1s;
}

.delay_3s{
    animation-delay: 1s;
}

.ani_a{
    animation-duration: 1.5s;
}